{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div class="row justify-content-end my-3">
        <div class="col-4 input-group">
            <input type="text" class="form-control kw" value="{{ kw or '' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr class="table-dark">
                <th>번호</th>
                <th>구분</th>
                <th>서비스</th>
                <th>호스트네임</th>
                <th>롤</th>
                <th>위치</th>
                <th>입력시간</th>
            </tr>
        </thead>
        <tbody>
        {% if list_list %}
        {% for list in list_list.items %}
        <tr>
            <td>{{ list_list.total - ((list_list.page-1) * list_list.per_page) - loop.index0 }}</td>
            <td>{{ list.gubun }}</td>
            <td>{{ list.service }}</td>
            <td>
                <a href="{{ url_for('list.detail', list_id=list.id) }}">{{ list.name }}</a>
                {% if list.comments_set|length > 0 %}
                <span class="text-danger small ml-2">{{ list.comments_set|length }}</span>
                {% endif %}
            </td>
            <td>{{ list.role }}</td>
            <td>{{ list.roc }}</td>
            <td>{{ list.create_date|datetime }}</td>
        </tr>
    {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">리스트가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징 처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {%if list_list.has_prev %}
        <li class="page-item">
            <a class="page-link" data-page="{{ list_list.prev_num }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        {% for page_num in list_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != list_list.page %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ page_num }}" href="#">{{page_num}}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
            {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
            {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if list_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ list_list.next_num }}" href="#">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징 처리 끝 -->
    <a href="{{ url_for('list.create') }}" class="btn btn-primary">자산 등록하기</a>
</div>
<form id="searchForm" method="get" action="{{ url_for('list._list') }}">
    <input type="hidden" id="kw" name="kw" value="{{ kw or '' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
   $(".page-link").on('click', function(){
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
   }));
   $("#btn_search").on('click', function() {
    $("#kw").val($(".kw").val());
    $("#page").val(1);
    $("#searchForm").submit();
   });
 });
</script>
{% endblock %}

